# .gitignore
!**/.gitkeep
resources/images/archive/
resources/images/head_shots/
resources/images/process_me/
resources/images/facets/
resources/images/facets/chin/
resources/images/facets/eyes/
resources/images/facets/forehead/
resources/images/facets/mouth/
resources/images/facets/neck/
resources/images/facets/nose/
.DS_Store